/* Variables */
:root {
    --primary-color: #ed3f23;
    --background-color: #f9f9f9;
    --text-shadow: 2px 2px 4px #726868;
    --font-family-base: 'Roboto', sans-serif;
    --font-family-heading: 'Major Mono Display', monospace;
}

/* Base styles */
* {
    font-family: var(--font-family-base);
}

body {
    background-color: var(--background-color);
    margin: 0;
}

/* Typography */
.brand, .hero-text, .recipepost-title, .recipepost-excerpt {
    text-shadow: var(--text-shadow);
}

.brand {
    font-family: "Major Mono Display", monospace;
    font-size: 5vw;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-style: normal;
    background-color:#ed3f23;
    padding: 5px;
    border-radius: 5px;
}

/* Component: Hero */
.hero-container {
    position: relative;
    text-align: center;
}

.hero {
    width: 100%;
    height: auto;
    display: block;
}

.hero-text {
    position: absolute;
    color: #ed3f23;
    padding: 5%;
    text-align: left;
    top: 10%;
    text-shadow: 2px 2px 4px #393535;
}

/* Component: Card */
.card {
    border: none;
    background-color: transparent;
}

.card-img-top {
    height: 40vw;
    object-fit: cover;
}

/* Layout: Masthead */
.masthead {
    margin-top: 10px;
    position: relative;
    height: 70vh;
    overflow: hidden;
}

.masthead-image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.masthead-text {
    position: absolute;
    z-index: 200;
    color: #f9f9f9;
}

/* Links */
.recipepost-link {
    text-decoration: none;
    color: #5C636B;
}

.recipepost-link:hover {
    color: #ed3f23;
}

/* Buttons */
.btn {
    box-shadow: 2px 2px 4px #393535;
}

/* Add recipe and update recipe page */
.recipform_container {
    background-color: #f9f9f9;
    padding-top: 5%;
}

/* Comments not yet approved from admin */
.faded {
    color: rgb(172, 175, 175);
}

/*Social media icons*/
.fab {
    border-right: none !important;
    }

    .fab::after {
    display: none !important;
    }

/* Component: Main Background */
.main-bg {
    background-color: #f9f9f9;
}

/* Layout: Footer */
footer {
    background-color: #ed3f23;
}

/* Component: Recipe Post */
.recipepost-title {
    margin-top: 20%;
    font-size: 8vw!important;
    font-weight: 700;
    position: absolute;
    text-shadow: 2px 2px 4px #393535;
}

.update_button_recipe {
    margin-right: 20px;
}

.avg_rating {
    top: 5%;
    left: 60%;
    font-size: 3vw;
    text-shadow: 2px 2px 4px #393535;
}

.recipepost-excerpt {
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
}

/* Pagination*/
.pagination li {
    margin: 0 5px;
}

/* Media queries*/
@media only screen and (max-width: 768px) {
    .card-img-top {
        height: 70vw;
    }
}

@media only screen and (max-width: 600px) {
    .avg_rating {
        font-size: 5vw;
    }

    footer .follow-us {
        margin-top: 1rem !important;
    }
}



