{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      <!-- Form  -->
      <header class="text-center">
        <h2>Add Recipe</h2>
      </header>
      <form class="label" method="post" id="recipepost_form"
        enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger">
          <strong>Error!</strong> Please correct the errors below.
          {{ form.errors }}
        </div>
        {% endif %}
        {{ form | crispy }}
        <div class="text-center mt-2">
          <button type="submit" class="btn btn-primary mb-4">Create
            Recipe</button>
        </div>
      </form>
      {% else %}
      <p class="text-end m-3">Log in to add a recipe</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
