{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
<div class="recipform_container">
  <header class="text-center">
    <h2>Add Recipe</h2>
  </header>
  <div class="d-flex flex-wrap justify-content-center">
    <form method="post" id="recipepost_form" enctype="multipart/form-data">
      {% csrf_token %}
      {% if form.errors %}
      <div class="alert alert-danger">
        <strong>Error!</strong> Please correct the errors below.
        {{ form.errors }}
      </div>
      {% endif %}
      {{ form | crispy }}
      <div class="text-center mt-2">
        <button type="submit" class="btn btn-primary mb-4">Create
          Recipe</button>
      </div>
    </form>
    {% else %}
    <p class="text-end m-3">Log in to add a recipe</p>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block extras %}
<script src="{% static 'js/recipe.js' %}"></script>
{% endblock %}