{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="masthead">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-6 masthead-text">
        <h1 class="recipepost-title">{{ recipepost.title }}</h1>
        <p class="recipepost-subtitle">Contributor: {{ recipepost.user }}</p>
        <p class="recipepost-excerpt">{{ recipepost.excerpt | safe }}</p>
      </div>
      <div class="d-none d-md-block col-md-6 masthead-image">
        <img src="{% if recipepost.food_image %}{{ recipepost.food_image.url }}
        {% else %}{% static 'images/default.jpg' %}
        {% endif %}" class="scale" alt="Recipe Image">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col card mb-4  mt-3 left  top">
      <div class="card-body">
        <!-- The recipepost content goes inside the card-text. -->
        <!-- Use the | safe filter inside the template tags -->
        <article class="card-text">
          <h2>Ingredients</h2>
          {{ recipepost.ingredients | safe }}
          <h2>Instructions</h2>
          {{ recipepost.instructions | safe }}
        </article>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <strong class="text-secondary">
        <p>Rating: {{ average_rating|default:0 }}/10</p>
      </strong>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
  <!-- Edit and delete recipe -->

  {% if user.is_authenticated and recipepost.user == user %}
  <button id="updateButtonRecipe" class="btn btn-edit updateButtonRecipe"
    data-recipe_id="{{ recipepost.id }}"
    data-update_url="{% url 'update_recipe' slug=recipepost.slug %}">Update
    Recipe</button>
  <button class="btn btn-delete deleteButtonRecipe" data-recipepost_id="{{ recipepost.id }}"
    data-recipepost_slug="{{ recipepost.slug }}">Delete Recipe</button>
  {% endif %}


  <!-- Delete confirmation modal -->
  <div class="modal fade" id="deleteRecipeModal" tabindex="-1"
    aria-labelledby="deleteRecipeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteRecipeModalLabel">Delete recipe?
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this recipe?
          This action cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">Close</button>
          <a id="deleteRecipeConfirm" href="#" class="btn
        btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Creating New Rating
<div class="row">
  <div class="col-md-4 card mb-4 mt-3">
      <div class="card-body">
          {% if user.is_authenticated %}
          <h3>Leave a rating:</h3>
          <form id="ratingForm" method="post" style="margin-top: 1.3em;">
              {% csrf_token %}

             Include the input field for rating
             {# {{ rating_form.reciperating|as_crispy_field }}#}

              <button id="submitRatingButton" type="submit" class="btn btn-signup btn-lg">Submit Rating</button>
          </form>
          {% else %}
          <p>Log in to leave a rating</p>
          {% endif %}
      </div>
  </div>
</div>-->

  <!-- Displaying count of comments -->
  <div class="row">
    <div class="col-12">
      <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ comment_count }}
      </strong>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
  <!-- Displaying Comments -->
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3>Comments:</h3>
      <div class="card-body">
        <!-- We want a for loop inside the empty control tags
          to iterate through each comment in comments -->
        {% for comment in comments %}
        <div class="p-2 comments
          {% if not comment.approved and comment.user == user %}
          faded{% elif not comment.approved %} d-none{% endif %}">
          <p class="font-weight-bold">
            {{ comment.user }}
            <span class="font-weight-normal">
              {{ comment.created_on }}
            </span> wrote:
          </p>
          <div id="comment{{ comment.id }}">
            {{ comment.body | linebreaks }}
          </div>
          {% if not comment.approved and comment.user == user %}
          <p class="approval">
            This comment is awaiting approval
          </p>
          {% endif %}
          {% if user.is_authenticated and comment.user == user %}
          <button class="btn btn-delete deleteButtonComment"
            comment_id="{{ comment.id }}">Delete</button>

            <button class="btn btn-edit updateButtonComment"
            comment_id="{{ comment.id }}">Edit</button>

          {% endif %}




        </div>
        <!-- Our for loop ends here -->
        {% endfor %}
      </div>
    </div>
    <!-- Creating New Comments -->
    <div class="col-md-4 card mb-4 mt-3">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.user }}</p>
        <form id="commentForm" method="post" style="margin-top: 1.3em;">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit"
            class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% else %}
        <p>Log in to leave a comment</p>
        {% endif %}

      </div>
    </div>
  </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your comment?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extras %}
{% load static %}

<script src="{% static 'js/comments.js' %}"></script>
<script src="{% static 'js/recipe.js' %}"></script>
{% endblock extras %}