{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
  <header class="text-center">
    <h2>Update Recipe</h2>
  </header>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% if form.errors %}
      <div class="alert alert-danger">
        <strong>Error!</strong> Please correct the errors below.
        {{ form.errors }}
      </div>
      {% endif %}
      {{ form|crispy }}
      {% if existing_image_public_id %}
      <p>Current Image: {{ existing_image_public_id }}</p>
      {% endif %}
      <div class="text-center mt-2">
        <button type="submit" class="btn btn-primary mt-2 mb-2">Update
          Recipe</button>
      </div>
    </form>
  </div>
</div>
</div>
    {% endblock %}

