{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            <img src="{% static 'images/we.jpg' %}" width="75%">
        </div>
        <div class="col-12 col-md-8">
            <h2>{{ about.title }}</h2>
            {{ about.content | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
          <!-- Updated on field goes in here -->

          <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Contact Us!</h2>
            <p>Thank you so much for reaching out to us! Your feedback and
                questions mean a lot to us. Whether you have a question about a
                specific recipe or just want to share your thoughts,
                we're here to help. In the meantime, feel free to explore
                our recipe blog for delicious culinary inspiration.
            </p>
            <!-- Contact form -->
            <form method="post">
                {{ collaborate_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}